<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    
    form{
        background-color: azure;
        height: 30%;
        width:40%


    }
   
  </style>
  
</head>
<body>
    <form action="/submit-data" method="get">
        number 1 : <input type="number" name="num1" id="n1" value="num1">
        <br>
        number 2 : <input type="number" name="num2" id="n2" value="num2"><br>
        <button type="submit" name="btn" id="btn" value="add">Add</button>
        <button type="submit" name="btn" id="btn" value="mult">Mult</button>
       


    </form>
</body>
</html>
